Flask==0.10.1
Flask-OpenID==1.2.1
Flask-SocketIO==0.3.2
Jinja2==2.7.2
MarkupSafe==0.21
PIL==1.1.7
Werkzeug==0.9.4
argparse==1.2.1
bcrypt==1.0.2
cffi==0.8.2
cssselect==0.9.1
gevent==1.0
gevent-socketio==0.3.6
gevent-websocket==0.9.3
greenlet==0.4.2
itsdangerous==0.24
lxml==3.3.5
peewee==2.2.3
psycopg2==2.5.2
pycparser==2.10
pyquery==1.2.8
python-dateutil==2.2
python-openid==2.2.5
redis==2.9.1
requests==2.2.1
six==1.6.1
wsgiref==0.1.2
