Flask==0.10.1
Flask-OpenID==1.2.1
Jinja2==2.7.2
MarkupSafe==0.18
Twisted==13.2.0
Werkzeug==0.9.4
argparse==1.2.1
bcrypt==1.0.2
cffi==0.8.1
itsdangerous==0.23
klein==0.2.3
peewee==2.2.1
protobuf==2.5.0
psycopg2==2.5.2
pycparser==2.10
python-dateutil==2.2
python-openid==2.2.5
redis==2.9.1
requests==2.2.1
rethinkdb==1.11.0-2
six==1.5.2
treq==0.2.0
txmongo==0.4.2
txredisapi==1.0
ujson==1.33
wsgiref==0.1.2
zope.interface==4.1.0
