{% extends "base.html" %}
{% block content %}

<div class="container" style="fixed-header">
    <div class="page-header">
        <div class="page-title">
            <h3>Test</h3> 
        </div>
    </div>
    <div class="row" id="bans-main">
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-content">
                <h1> :^) </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    pug.bans();
});
</script>
{% endblock %}
