{% extends "base.html" %}
{% block content %}

<div class="container" style="fixed-header">
    <div class="page-header">
        <div class="page-title">
            <h3>Bans</h3> 
        </div>
    </div>
    <div class="row" id="friends-main">
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Reason</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody class="bans-list"></tbody> 
                    </table>
                    <div class="row">
                        <div class="table-footer">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <ul class="pagination" id="ban-pagination">
                                    <li><a href="#" id="bans-page-prev">← Prev</a></li>
                                    <li id="bans-page-before"><a href="#" id="bans-page-next">Next →</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    pug.bans();
});
</script>
{% endblock %}
