<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/> 
    <title>GoPlayMM</title> 

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
    <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="/static/plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/><![endif]--> 
    <link href="/static/css/main.css" rel="stylesheet" type="text/css"/> 
    <link href="/static/css/plugins.css" rel="stylesheet" type="text/css"/> 
    <link href="/static/css/responsive.css" rel="stylesheet" type="text/css"/> 
    <link href="/static/css/icons.css" rel="stylesheet" type="text/css"/> 
    <link href="/static/css/image-picker.css" rel="stylesheet" type="text/css"/> 
    <link rel="stylesheet" href="/static/css/fontawesome/font-awesome.min.css"> 
    <!--[if IE 7]><link rel="stylesheet" href="/static/css/fontawesome/font-awesome-ie7.min.css"><![endif]--> 
    <!--[if IE 8]><link href="/static/css/ie8.css" rel="stylesheet" type="text/css"/><![endif]--> 
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'> 
    <script type="text/javascript" src="/static/js/libs/jquery-1.10.2.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/lodash.compat.min.js"></script>
    <!--[if lt IE 9]><script src="/static/js/libs/html5shiv.js"></script><![endif]--> 
    <script type="text/javascript" src="/static/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/event.swipe/jquery.event.move.js"></script> 
    <script type="text/javascript" src="/static/plugins/event.swipe/jquery.event.swipe.js"></script>
    <script type="text/javascript" src="/static/js/libs/breakpoints.js"></script>
    <script type="text/javascript" src="/static/plugins/respond/respond.min.js"></script>
    <script type="text/javascript" src="/static/plugins/cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/static/plugins/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="/static/plugins/flot/excanvas.min.js"></script><![endif]--> 
    <script type="text/javascript" src="/static/plugins/sparkline/jquery.sparkline.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/flot/jquery.flot.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/flot/jquery.flot.tooltip.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/flot/jquery.flot.resize.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/flot/jquery.flot.time.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/flot/jquery.flot.growraf.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/easy-pie-chart/jquery.easy-pie-chart.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/daterangepicker/moment.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/daterangepicker/daterangepicker.js"></script> 
    <script type="text/javascript" src="/static/plugins/blockui/jquery.blockUI.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/fullcalendar/fullcalendar.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/noty/jquery.noty.js"></script> 
    <script type="text/javascript" src="/static/plugins/noty/layouts/top.js"></script> 
    <script type="text/javascript" src="/static/plugins/noty/themes/default.js"></script> 
    <script type="text/javascript" src="/static/plugins/uniform/jquery.uniform.min.js"></script> 
    <script type="text/javascript" src="/static/plugins/select2/select2.min.js"></script> 
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script> 
    <script type="text/javascript" src="/static/js/plugins.form-components.js"></script> 
    <script>$(document).ready(function(){App.init();Plugins.init();FormComponents.init()});</script> 
    <script type="text/javascript" src="/static/js/custom.js"></script> 
    <script type="text/javascript" src="/static/js/demo/pages_calendar.js"></script> 

    <!-- We actually USE these huehuehue -->
    <script type="text/javascript" src="/static/js/libs/modernizr.js"></script>
    <script type="text/javascript" src="/static/js/image-picker.min.js"></script>
    <script type="text/javascript" src="/static/js/etc/graphs.js"></script>
    <script type="text/javascript" src="/static/js/etc/general.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script> 

    <script>
    // FUCK IT YOLO
    USER = {}
    {% if g.user %}
        USER.id = {{ g.user.id }}
        USER.name = "{{ g.user.username }}"
        USER.steamid = {{ g.user.steamid }}
    {% endif %}
    </script>
</head>
<body class="theme-dark"> 
    <header class="header navbar navbar-fixed-top" role="banner"> 
        <div class="container"> 
            <ul class="nav navbar-nav"> 
                <li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a></li> 
            </ul>
            <a class="navbar-brand" href="index.html">
                <strong>GoPlayMM</strong>
            </a>
            <ul class="nav navbar-nav navbar-right">
                {% if g.user %}
                    <li><a href="/lobby"><i class="icon-group"></i> New Lobby</a></li>
                    <li><a href="/friends"><i class="icon-heart"></i> Friends</a></li>
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="username"></span>{{ g.user.username }} <i class="icon-caret-down small"></i></a> 
                        <ul class="dropdown-menu"> 
                            <li><a href="/u/{{ g.user.id }}"><i class="icon-user"></i> My Profile</a></li> 
                            <li><a href="#"><i class="icon-tasks"></i> My Stats</a></li> 
                            <li><a href="#"><i class="icon-list"></i> My Matches</a></li> 
                            <li class="divider"></li> 
                            <li><a href="/logout"><i class="icon-key"></i> Log Out</a></li> 
                        </ul>
                    </li>
                {% else %}
                <li><a href="/login"><img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"></a></li>
                {% endif %}
            </ul> 
        </div> 
    </header>
    <div id="container"> 
        <div id="sidebar" class="sidebar-fixed"> 
            <div id="sidebar-content"> 
                <form class="sidebar-search"> 
                    <div class="input-box">
                        <button id="search-submit" class="submit"> <i class="icon-search"></i> </button> 
                        <span><input id="search-input" type="text" placeholder="Search..."></span> 
                    </div> 
                </form>
                <div class="sidebar-search-results"> <i class="icon-remove close"></i> 
                    <div class="title"> Players</div>
                    <ul id="search-results" class="notifications"></ul>
                </div>
                <ul id="nav"> 
                    <li {% if request.path == "/" %}  class="current" {% endif %}>
                        <a href="/">
                        <i class="icon-dashboard"></i>Homepage</a>
                    </li>
                    <li {% if request.path.startswith("/about") %}  class="current" {% endif %}><a href="/about"><i class="icon-book"></i>About</a></li>
                    {% if g.user %}
                        <!--<li><a href="/lobby"><i class="icon-group"></i>Create Lobby</a></li>-->
                       <!--  <li><a href="/friends"><i class="icon-smile"></i>Friends <span class="label label-info pull-right">6</span></a></li> -->
                        <li><a href="#"><i class="icon-list"></i>Matches <span class="label label-info pull-right">332</span></a></li>
                        <li><a href="#"><i class="icon-bar-chart"></i>Stats</a></li>
                        <li><a href="#"><i class="icon-gears"></i>Settings</a></li>
                    {% else %}
                        <li><a href="#"><i class="icon-group"></i>Recent Matches</a></li>
                    {% endif %}
                    <li {% if request.path.startswith("/bans") %}  class="current" {% endif %}><a href="/bans"><i class="icon-remove"></i>Banlist</a></li>
                </ul>
                <div class="sidebar-title"> 
                    <span>Notifications</span> 
                </div>
                <ul class="notifications" id="side-bar-notifications"></ul>
            </div>
        </div>
        <div id="content">
    <div class="alert alert-danger bad-browser-alert" style="display: none;">
        <b>Woah There!</b> Looks like your using a browser that might not have great support for this website. Please consider <a href="http://www.browser-update.org/update.html">upgrading</a> your browser!
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                <button class="close" data-dismiss="alert">×</button>
                {{ message|safe }}
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}

        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>
</html>