{% extends "base.html" %}
{% block content %}
<div class="container" style="fixed-header">
    <div class="row" style="padding-top: 15px">
        <div class="col-md-6">
            <div class="widget box">
                <div class="widget-content">
                    <div class="row" >
                        <div class="col-md-12" style="text-align: center">
                            <h1>Donate to GoPlayMM</h3>
                            <h3>
                                Donations to GoPlayMM go directly to our server infastructure. That means every dollar you put in will help us get bigger and better servers.

                                Although we don't think making donators a premium group is fair, we do everything we can to thank those that can give a little more to help keep GoPlayMM alive. Among those things are:

                                <hr>
                                <div class="row" style="text-align: left">
                                    <div class="col-md-6">
                                        <ul>
                                            <li>Donator Badge and in-game icon!</li>
                                            <li>Download your raw stats to do what you wish with!</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li>Exclusive beta access to new features!</li>
                                            <li>Access to new/test maps before everyone else!</li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
</script>
{% endblock %}
