{% extends "base.html" %}
{% block content %}

<div class="container" style="fixed-header">
    <div class="page-header">
        <div class="page-title">
            {% if g.user %}
                <h3>Dashboard</h3> 
            {% else %}
                <h3>GoPlayMM</h3>
                <span>Because CS:GO should be fun for everyone</span>
            {% endif %}
        </div>
        <ul class="page-stats">
            <li>
                <div class="summary"> 
                    <span>Matches Per Hour</span> <h3>15</h3> 
                </div> 
                <div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
            </li> 
            <li>
                <div class="summary"> 
                    <span>Daily Players</span> <h3>2300</h3> 
                </div> 
                <div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
            </li> 
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget box">
                <div class="widget-content">
                    <div class="row">
                        <div class="col-md-8">
                            {% if not g.user %}
                            <div class="alert alert-danger">
                                GoPlayMM is currently in a closed beta! Feel free to look around, and join us on IRC (Quakenet, #goplaymm) for more information about the beta!
                            </div>
                            {% endif %}
                            <p class="lead">
                                GoPlayMM is a free, open-source alternative to Valve's Counter-Strike: Global Offensive Matchmaking service. It features fast, high-performance 128-tick servers, a simple web-interface, extensive stats, competitive rule-set, anticheat, and more!
                            </p>
                            <p>
                                GoPlayMM strives to provide the honest, fun, and reliable gaming experience CS:GO players deserve. We have a no-bullshit policy, and believe in clearly explaining the facts rather than hiding behind veils of lies. We're proud our entire playform is completely <a href="http://github.com/b1naryth1ef/goplaynao">Open Source</a>. Together with players, we hope to help grow and nuture the CS:GO gaming community. GoPlayMM is 100% free to use, and even if you choose to donate, you won't get any super-special treatment (just a few <a href="/donate">cool</a> features!).
                            </p>
                        </div>
                        <div class="ribbon-wrapper ribbon-top-right"> <div class="ribbon red">Beta</div> </div>
                        <div class="col-md-4">
                            <h2>Features</h2>
                            <ul>
                                <li><h3>High-Performance, Consistent, Cross-Region 128tick servers</h3></li>
                                <li><h3>Light-weight and simple web-based Lobby/Queue System</h3></li>
                                <li><h3>No custom client; use vanilla Steam/CS:GO</h3></li>
                                <li><h3>Extensive list of Valve and Community maps to queue for</h3></li>
                                <li><h3>Statistics, Achievements, 64-tick GOTV demos with voice</h3></li>
                                <li><h3>Intelligent, skill-based ranking algorithim (e.g. No ELO)</h3></li>
                                <li><h3>Multi-factor cheat/grief detection and prevention system</h3></li>
                                <li><h3>And a ton more!</h3></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
</script>
{% endblock %}
