{% extends "base.html" %}
{% block content %}

<div class="container" style="fixed-header">
    <div class="page-header">
        <div class="page-title">
            <h3>Lobby {% if not lobby %}Creator{% endif %}</h3> 
            {% if not lobby %}
                <span>Create a lobby, invite your friends, and play!</span>
            {% endif %}
        </div>
        <ul class="page-stats">
            <li>
                <div class="summary"> 
                    <span>Players Searching </span> <h3 class="apistats" id="current.players.searching">...</h3> 
                </div> 
            </li>
            <li>
                <div class="summary"> 
                    <span>Availibile Servers </span> <h3 class="apistats" id="current.servers.open">...</h3> 
                </div> 
            </li>
            <li>
                <div class="summary"> 
                    <span>Live Matches </span> <h3 class="apistats" id="current.matches">...</h3> 
                </div> 
            </li>
            <li>
                <div class="summary"> 
                    <span>Players Pugging </span> <h3 class="apistats" id="current.players.playing">...</h3> 
                </div> 
            </li>
        </ul>
    </div>
{# This only gets shown when we are creating a new lobby #}
<div class="row" id='lobby-maker'>
    <div class="col-md-12">
        <div class="widget box">
            <div id='lobby-maker-main' class="widget-content">
                
                <div id="lobby-create-loader" style="text-align: center; display: none;">
                    <h4>Creating Lobby...</h4>
                    <div class="progress progress-striped active"> <div class="progress-bar" style="width: 100%"></div> </div>
                </div>
                <div id="lobby-create-wizard">
                    <h1>Lobby Maker</h1>
                    <p>
                        Whoops, looks like B1n hasn't added any awesome/kick-ass options for lobby creation yet!
                    </p>
                    <button id="btn-create-lobby" class="btn btn-success btn-large">Create Lobby</button>
                </div>
            </div>
        </div>
    </div>
</div>

{# This gets shown when we're in a lobby #}
<div id="lobby">
    <div class="row" id="lobby-info">
        <div class="col-md-12">
            <div class="widget box">
                <div id='lobby-info-main' class="widget-content" style="text-align: center;">
                    <div id="lobby-info-main-queued">
                        <h3>Searching...</h3>
                        <p>
                            Remember, failing to join or leaving during the match can result in up to a month ban! Make sure you never skip out on your fellow puggers, and if you ever have technical difficulties, make sure to contact support!
                        </p>
                        <div class="progress progress-striped active"><div class="progress-bar" style="width: 100%"></div></div>
                        <p>
                            <button id="lobby-queue-stop" class="owner btn btn-danger" style="display:none">Stop Queue!</button>
                            <button id="lobby-leave" class="not-owner btn btn-danger" style="display:none">Leave Lobby</button>
                            <button id="lobby-invite-btn" class="btn btn-primary">Invite</button>
                        </p>
                    </div>
                    <div id="lobby-info-main-waiting">
                        <h3>Waiting to Queue...</h3>
                        <p>
                            <div class="not-owner" style="display: none">Waiting for the lobby leader to start the match queue!</div>
                            <button id="lobby-leave" class="not-owner btn btn-danger" style="display:none">Leave Lobby</button>
                            <button id="lobby-queue-start" class="owner btn btn-success" style="display:none">Start Queue!</button>
                            <button id="lobby-invite-btn" class="btn btn-primary">Invite</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="lobby-content">
        <div class="col-md-10">
            <div class="widget box">
                <div id='lobby-chat' class="widget-content">
                    <div class="list-group" id="lobby-chat-list"></div>
                     <li class="list-group-item basic-alert" id="lobby-chat-input"><div class="input-group"> <input type="text" id="lobby-chat-text" class="form-control"> <span class="input-group-btn"> <button id="lobby-chat-send" class="btn btn-success" type="button">Send!</button> </span> </div></li>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="widget box">
                <div id="lobby-list" class="widget-content">
                    <h3>Lobby Members</h3>

                    <table class="table table-hover">
                        <tbody id="lobby-member-list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="invite-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> <h4 class="modal-title">Invite Friends</h4> </div>
      <div class="modal-body"></div>
      <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
    pug.lobby({% if lobby %}{{ lobby }}{% endif %});
});
</script>
{% endblock %}
