{% set bans = user.getActiveBans() %}
{% extends "base.html" %} {% block content %}
<div class="container" style="fixed-header">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable tabbable-custom tabbable-full-width">

                <div class="tab-content row">
                    <div class="tab-pane active" id="tab_overview">
                        <div class="col-md-3">
                            <div class="list-group">
                                <ul>
                                    <li class="list-group-item no-padding">
                                    <img alt="" src="/api/users/avatar?id={{ user.id }}" height="500px" width="500px"></li>

                                    <li style="list-style: none">
                                        <a class="list-group-item"><h1>{{ user.username }}</h1></a>
                                        <a class="list-group-item" href="http://steamcommunity.com/profiles/{{ user.steamid }}">Steam Profile</a>
                                        {# User exists, is not current user, and does not have a perma-ban #}
                                        {% if g.user and g.user != user and not (bans.count() and not bans[0].end) %}
                                            {% if not g.user.isFriendsWith(user)%}
                                                <a class="list-group-item" id="add-friend">Add Friend</a>
                                            {% endif %}
                                            <a class="list-group-item">Report</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="widget box">
                                        <div id="profile-graph-overview" class="widget-chart" style="height: 300px;"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row profile-info">
                                <div class="col-md-7">
                                    {% if bans.count() %}
                                        {% set ban = bans[0] %}
                                        <div class="alert alert-danger">
                                            This user is banned{% if ban.end %} until{%endif %} {{ ban.getDurationString() }} for "{{ ban.reason }}"!
                                        </div>
                                    {% endif %}

                                    <h1>John Doe</h1>


                                    <p>Lorem ipsum dolor sit amet, consectetuer
                                    adipiscing elit, sed diam nonummy nibh euismod
                                    tincidunt laoreet dolore magna aliquam
                                    tincidunt erat volutpat laoreet dolore magna
                                    aliquam tincidunt erat volutpat.</p>
                                </div>

                                <div class="col-md-5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    pug.profile({{ user.format()|json|safe }})
</script>

{% endblock %}